.app-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  background-color: rgba(211, 211, 211, 0.7);

  margin-bottom: 35px;
}

.app-info h2,
h3 {
  color: #222;
  font-size: 25px;
}
